@import '../base.scss';

.header {
  height: #{$base-unit * 6};
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $background;
  align-items: center;
  padding: $base-unit;

  & img {
    width: #{$base-unit * 4};
    height: auto;
  }

  & h2 {
    color: $boulder;
  }
}

.cursorHand {
  cursor: pointer;
}

.sectionTitle {
  text-align: center;
  color: $tundora;
}

.recordGrid {
  @include center-grid;
  grid-template-columns: 50% 20% 30%;
  grid-gap: #{$base-unit / 2};
}

.recordSection {
  @include center-section;
  width: 640px;
}

.centerText {
  text-align: center;
}

.sortIcon {
  width: auto;
  height: 12px;
  padding-left: 8px;
}

