.avatar {
  width: 200px;
  height: 200px;
  position: relative;
  top: 60px;
  padding-right: 16px;
  img {
    height: 100%;
    width: auto;
  }
}

.profileSection {
  display: grid;
  width: 500px;
  margin: 0 auto;
  grid-template-columns: 0.2fr 1fr;
}
