$background: #ededed;
$boulder: #777777;
$tundora: #444444;
$link: #0011bb;
$link-clicked: #6600cc;

$font-family: sans-serif;

$base-unit: 8px;

html {
  & > * {
    font-family: $font-family;
  }
  body {
    margin: 0;
    min-width: 656px;
  }
}

a:visited {
  color: $link-clicked
}

a {
  color: $link;
}
